ion-grid {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menuss {
    border: solid 1px;
    border-radius: 12px;
    width: 175px;
    justify-content: center;
    align-items: center;
    height: 60px;
    display: flex;
}
